-i https://pypi.org/simple
aiodine==1.2.1
bocadillo==0.13.0
certifi==2022.12.7
chardet==3.0.4
click==7.0
gunicorn==19.9.0
h11==0.8.1
httptools==0.0.13 ; sys_platform != 'win32' and sys_platform != 'cygwin' and platform_python_implementation != 'pypy'
idna==2.8
jinja2==2.10
markupsafe==1.1.1
parse==1.11.1
python-multipart==0.0.5
requests==2.21.0
six==1.12.0
starlette==0.11.3
urllib3==1.24.1
uvicorn==0.5.2
uvloop==0.12.1 ; sys_platform != 'win32' and sys_platform != 'cygwin' and platform_python_implementation != 'pypy'
websockets==7.0
whitenoise==4.1.2
